@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff1f7;
    --foreground: #353535;
    --card: 245 236 215;
    --card-foreground: 53 53 53;
    --popover: 245 236 215;
    --popover-foreground: 53 53 53;
    --primary: 235 156 100;
    --primary-foreground: 245 236 215;
    --secondary: 255 135 137;
    --secondary-foreground: 53 53 53;
    --muted: 143 191 159;
    --muted-foreground: 53 53 53;
    --accent: #ffc9de;
    --accent-foreground: 53 53 53;
    --destructive: 255 135 137;
    --destructive-foreground: 245 236 215;
    --border: 194 186 166;
    --input: 194 186 166;
    --ring: 235 156 100;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: #000000;
    --foreground: #f5ecd7;
    --card: 85 78 79;
    --card-foreground: 245 236 215;
    --popover: 85 78 79;
    --popover-foreground: 245 236 215;
    --primary: 235 156 100;
    --primary-foreground: 245 236 215;
    --secondary: 255 135 137;
    --secondary-foreground: 245 236 215;
    --muted: 143 191 159;
    --muted-foreground: 85 78 79;
    --accent: #ffc9de;
    --accent-foreground: 85 78 79;
    --destructive: 255 135 137;
    --destructive-foreground: 245 236 215;
    --border: #346145;
    --input: 52 97 69;
    --ring: 235 156 100;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite;
  animation-delay: 2s;
}

.animate-float-delayed-2 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 4s;
}
